body{
    font-family: 'Roboto', sans-serif;
}
a {
    color: #3a55b1;
}

#page {
    background-color: #f1f3f9;
}

#region-main-settings-menu.has-blocks, #region-main.has-blocks {
    width: calc(100% - 330px);
}

[data-region="blocks-column"] {
    width: 300px;
}

#nav-drawer {
    left: 0;
    padding: 0;
    height: calc(100vh - 50px);
    background: #fff;
    width: 240px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.07);
}

#nav-drawer .list-group-item {
    border: 0;
}

#nav-drawer .media-left .icon {
    width: 36px;
    margin: 0;
}

#nav-drawer .list-group-item.active {
    color: #324148;
    background-color: #f5f5f5;
    border-left: 3px solid #3a55b1;
}

.block_online_users .content .info {
    text-align: left;
}

#page-wrapper #page {
    padding: 0 30px;
}

#page-footer a {
    color: #324148;
}

.course-content ul.ctopics li.section .content .toggle, .course-content ul.ctopics li.section .content.sectionhidden {
    border-radius: 0 !important;
}

.btn-link {
    color: #324148;
}

.btn-link:hover {
    color: #3a55b1;
    text-decoration: none;
}

#page-footer {
    background: #f1f3f9;
}

#nav-drawer .list-group-item:first-child {
    border-radius: 0 !important;
}

.paged-content-page-container .card-deck .card {
    margin-left: 0;
}

.card-title {
    color: #324148;
}

.login-block {
    height: 100vh;
    background: #3a55b1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffddde, #3a55b1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffddde, #3a55b1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    width: 100%;
    padding: 50px 0;
}

.banner-sec {
    background: url(../img/pexels-photo.jpg) no-repeat left bottom;
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

.container-login {
    background: #fff;
    border-radius: 10px;
    box-shadow: 7px 18px 5px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}


.container-login {
    background: #fff;
    border-radius: 10px;
    box-shadow: 7px 18px 5px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

.login-sec .copy-text i {
    color: #FEB58A;
}


.login-sec .copy-text a {
    color: #3a55b1;
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #3a55b1;
}

.btn-login {
    background: #3a55b1;
    color: #fff;
    font-weight: 600;
}

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

.banner-text h2 {
    color: #fff;
    font-weight: 600;
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}

.banner-text p {
    color: #fff;
}

.login-sec h3 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 28px;
    color: #3a55b1;
}

.btn-login {
    background: #3a55b1;
    color: #fff;
    font-weight: 600;
}

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

.banner-text h2 {
    color: #fff;
    font-weight: 600;
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}

.banner-text p {
    color: #fff;
}

button.loadding, .loadding {
    position: relative;
    border-color: rgba(255, 255, 255, 0.3);
}

button.loadding:after, .loadding:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

button.btn-login, .btn-login {
    color: #fff !important;
}

button.btn-login i, .btn-login i {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}

button.btn-login.loadding i, .loadding i {
    -webkit-animation-name: example_loadding;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-name: example_loadding;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: inline-block;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example_loadding {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Standard syntax */
@keyframes example_loadding {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

label.text-danger {
    font-size: 13px;
    margin: 0;
    font-weight: 500;
}

.ss-logo-header img {
    max-height: 50px;
}

.ss-header-menu {
    background-color: rgba(0, 0, 0, 0.8);
}

.logo_bgt {
    display: flex;
}
.logo_bgt > a {
    padding: 0 5px;
}
@media (max-width: 767px){
    .container-login {
        width: calc(100% - 30px);
    }
}
@media (max-width: 479px) {
    .login-sec {
        padding: 30px 15px 50px;
    }
}
