.search-result-block h2{
    text-transform: uppercase;
    width: 100%;
    border-bottom: 2px solid lightgrey;
}

.search-filter-block h4{
    text-transform: uppercase;
}

.search-input:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

.search_label_button {
    border: 1px solid #862055;
    color: #862055;
    width: 100%;
    white-space: inherit;
}

.ss-main .ss-multi-selected .ss-values .ss-value {
    background-color: #862055 !important;
}

.ss-value-delete {
    font-weight: bold;
    margin: 0 0 0 10px !important;
}

.btn-bgtlms {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    background-color: #862055 !important;
    border-color: #86170f !important;
}

.btn-bgtlms-clear {
    text-transform: uppercase;
    font-weight: bold;
    border-color: #000000 !important;
}

.logo {
    max-width: 13%;
    margin-right: 10px;
}

.clear-picker {
    position: absolute;
    top: 0.25rem;
    right: 1.2rem;
}

@media screen and (min-width: 992px){
    .col-title-container {
        padding-right: 0;
    }
}

@media screen and (max-width: 1000px){
    .cms-link {
        display: none;
    }
}

.cms-link img {
    width: 30px;
}

@media screen and (max-width: 545px){
    .btn-bgtlms-clear {
        margin-top: 5px;
    }
}
.custom-page-block {
    margin-top: 4rem !important;
}

.course-block:hover {
    box-shadow: 3px 3px 6px #00000069;
}

.click-page .nav{
    min-width: 190px;
}

.click-page ul li{
    font-family: Roboto-Regular;
    font-size: 14px;
    margin-right: 10%;
}

.current-selected a {
    color: #3469FF !important;
}

.current-selected i {
    color: #3469FF !important;
}

/* Extend container */
@media (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }
}
@media (min-width: 2000px) {
    .container {
        max-width: 1800px;
    }
}
@media (min-width: 2400px) {
    .container {
        max-width: 2000px;
    }
}
