/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/assets/js/app.js
/public/assets/js/app.js.map
/public/assets/css/laraspace.css
/public/assets/css/laraspace.css.map
.vscode
package-lock.json
/public/lms/config.php
