body {
    font-family: 'Roboto', sans-serif;
    background: #f1f3f9;
}
a {
    color: #3a55b1;
}

#page {
    background-color: #f1f3f9;
}

#region-main-settings-menu.has-blocks, #region-main.has-blocks {
    width: calc(100% - 330px);
}

[data-region="blocks-column"] {
    width: 300px;
}

#nav-drawer {
    left: 0;
    padding: 0;
    height: calc(100vh - 50px);
    background: #fff;
    width: 240px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.07);
}

#nav-drawer .list-group-item {
    border: 0;
}

#nav-drawer .media-left .icon {
    width: 36px;
    margin: 0;
}

body.drawer-open-left {
    margin-left: 240px;
}

.top-logo img {
    max-height: 34px;
    max-width: 45%;
}

#nav-drawer .list-group-item.active {
    color: #324148;
    background-color: #f5f5f5;
    border-left: 3px solid #3a55b1;
}

.block_online_users .content .info {
    text-align: left;
}

#page-wrapper #page {
    padding: 0 30px;
}

#page-footer a {
    color: #324148;
}

.course-content ul.ctopics li.section .content .toggle, .course-content ul.ctopics li.section .content.sectionhidden {
    border-radius: 0 !important;
}

.btn-link {
    color: #324148;
}

.btn-link:hover {
    color: #3a55b1;
    text-decoration: none;
}

#page-footer {
    background: #f1f3f9;
}

#nav-drawer .list-group-item:first-child {
    border-radius: 0 !important;
}

.paged-content-page-container .card-deck .card {
    margin-left: 0;
}

.card-title {
    color: #324148;
}

.login-block {
    height: 100vh;
    background: #3a55b1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffddde, #3a55b1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffddde, #3a55b1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    width: 100%;
    padding: 50px 0;
}

.banner_layout {
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 20px;
    background: url(../images/bg_banner.jpg) no-repeat center bottom;
    background-size: cover;
}

.banner-sec {
    background: url(../images/bg_login.png) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: none;
}

.container-login {
    background: #fff;
    border-radius: 10px;
    box-shadow: 7px 18px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 30px;
    position: relative;
    background: #fff;
}

.logo_box {
    background: #fff;
    width: 100%;
    padding: 15px 30px;
    text-align: center;
    border-radius: 0 40px 40px 0;
    margin-bottom: 15px;
}

.logo_box img {
    max-width: 150px;
}

.form_box {
    padding: 0px;
    background: #fff;
}

h3.login_title {
    margin-bottom: 0.7em;
    color: #222;
    text-align: center;
}

.login-sec .copy-text {
    font-size: 13px;
    text-align: right;
    padding-top: 15px;
}

.login-sec .copy-text i {
    color: #FEB58A;
}

.login-sec .copy-text a {
    color: #3a55b1;
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #3a55b1;
}

.btn-login {
    background: #123462;
    color: #fff;
}

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

.banner-text h2 {
    color: #fff;
    font-weight: 600;
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}

.banner-text p {
    color: #fff;
}


/* -----------------------------------index-------------------------------------- */
.index-ct {
    height: 100vh;
    width: 100%;
    padding: 50px;
    background: url('../images/bottom-logo.png') no-repeat bottom left #123462;
    background-size: 500px;
}

.index-logo {
    border-radius: 0 50px 50px 0;
    padding-left: 65px;
    padding-right: 50px;
    margin-left: -65px;
    box-shadow: 10px 3px 2px 0px rgba(0, 0, 0, 0.2);
}

.index-logo img {
    max-width: 220px;
    border-color: #e8e8e8 !important
}

.btn-login-index {
    border: 2px solid #416a9a;
    background: #0d2c56;
    color: white;
    font-size: 1.4rem;
}

.btn-login-index:hover {
    border: 2px solid #ffc107;
    background: #0d2c56;
    color: #ffd455;
}

p.copyright-index {
    position: fixed;
    bottom: 15px;
    right: 50px;
}


@media (max-width: 992px) {
    .index-ct {
        height: auto;
        min-height: 100vh;
        background-size: 200px;
    }

    .img-landing {
        max-width: 100%;
    }

    .index-logo img {
        max-width: 184px;
    }
}

@media (min-width: 993px) {
    .index-logo img {
        max-width: 105px;
    }
}

@media (min-width: 1200px) {
    .index-ct {
        background-size: 355px;
    }

    .img-landing {
        max-width: 600px;
    }

    .index-logo img {
        max-width: 140px;
    }
}


@media (min-width: 1600px) {
    .index-ct {
        background-size: 450px;
    }

    .img-landing {
        max-width: 100%;
    }

    .index-logo img {
        max-width: 200px;
    }
}


@media only screen and (max-width: 767.98px) {
    .index-ct {
        min-height: 100vh;
        height: auto;
        width: 100%;
        padding: 15px;
        background: #123462;
        background-size: 100px;
    }

    .index-logo {
        margin-top: 50px;
    }

    .index-logo img {
        max-width: 115px;
    }

    p.copyright-index {
        right: 0px;
        font-size: 12px;
    }
}

/*-------------------------------LOGIN AND RESET -----------------------------------*/
button.btn-login {
    color: #fff !important;
}

button.btn-login i {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}

button.btn-login.loadding i {
    -webkit-animation-name: example_loadding;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-name: example_loadding;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: inline-block;
}

button.btn-reset {
    color: #fff !important;
}

button.btn-reset i {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}

button.btn-reset.loadding i {
    -webkit-animation-name: example_loadding;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-name: example_loadding;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: inline-block;
}

.form_confirm_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
    display: none;
}

.show_confirm .form_confirm_wrap{
    display: block;
}

.form_confirm {
    position: fixed;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    background: #fff;
    width: 90%;
    padding: 20px;
    border: 2px solid #8e0000;
    border-radius: 4px;
}

h3.confirm_title {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 5px;
}

.form_confirm .content {
    padding-top: 15px;
    border-top: 1px solid #ccc;
}

h3.confirm_title span {
    font-size: 1.3rem;
    font-weight: 400;
}

.form_confirm ul {
    list-style: none;
    padding-left: 20px;
}

.form_confirm label {
    font-weight: 500;
}

.form_confirm ul #div_confirm_code {
    margin-bottom: 10px;
    padding-left: 20px;
    display: none;
}

input.form-control.error {
    border-color: #9c0606;
}

.message.error.message_confirm_code {
    color: #8e0000;
    margin-top: 5px;
    font-size: 13px;
}

label span {
    font-size: 0.9rem;
    font-weight: normal;
}

#div_confirm_code .item {
    margin-bottom: 15px;
}

#div_confirm_code .item label {
    margin-bottom: 0;
}
#cancel_login {
    display: block;
    width: 100%;
    margin-top: 5px;
    background: #ddd;
}









@media (min-width: 580px){
    #div_confirm_code:after {
        content: "";
        display: table;
        clear: both;
    }

    #div_confirm_code .item {
        width: 50%;
        float: left;
        padding: 0 5px;
    }
}