@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Italic;
    src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: UTM Bebas;
    src: url("../fonts/UTM Bebas.ttf") format("woff"),
    url("../fonts/UTM Bebas.ttf") format("opentype"),
    url("../fonts/UTM Bebas.ttf") format("truetype");
}

body {
    font-size: 14px;
    font-family: Roboto-Bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.main-bg {
    height: 100%;
    width: 100%;
    background-image: url('../images/vietnam-halong-bay-58597.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.before-main-content {
    position: absolute;
    top: 16%;
    right: 19%;
    height: 80%;
    width: 35%;
    z-index: 1;
    border-radius: 10px;
    padding: 8%;
    overflow: hidden;
}

.before-main-content p, .before-main-content h3 {
    font-family: UTM Bebas;
    color: #FFFFFF;
    font-size: 86px;
    position: absolute;
}

.before-main-content p {
    -webkit-text-fill-color: #1d151500;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFFFFF;
    top: 45%;
    right: 5%;
}

.before-main-content h3 {
    text-shadow: 0px 3px 6px #00000029;
    top: 33%;
    left: 17%;
}

.main-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2020207A;
    opacity: 1;
}

.wrap-login100 {
    position: absolute;
    top: 25%;
    left: 22%;
    z-index: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px #00000029;
    border-radius: 10px;
    width: 29%;
}

.wrap-content {
    padding: 5% 10%;
}

.title-login {
    text-align: center;
    letter-spacing: 0.78px;
    color: #202020;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10%;
}

.wrap-input100 {
    width: 100%;
    margin: 5% 0;
}

.wrap-input100 input {
    text-align: left;
    font-family: Roboto-Regular;
    letter-spacing: 0.5px;
    color: #202020;
    border: none;
    border-bottom: 1px solid #707070;
    width: 90%;
    margin-left: 5%;;
}

.wrap-btn100 {
    margin-bottom: 5%;
    width: 100%;
}


.wrap-btn100 button {
    /*width: 130px;*/
    /*margin-left: 35%;*/
    padding: 2% 10%;
    background: #0080ef 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #ffffff;
}


.btn-login {
    background: #0080ef 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.6px;
    font-size: 12px;
}

.wrap-forgot100 {
    text-align: center;
    letter-spacing: 0.45px;
}

.wrap-forgot100 p span {
    font-family: Roboto-Regular;
    color: #202020;
    font-size: 13px;
}

.wrap-forgot100 p a {
    font-family: Roboto-Italic;
    letter-spacing: 0.45px;
    color: #0080EF;
    font-size: 13px;
}

.wrap-remember100 {
    font-family: Roboto-Regular;
    letter-spacing: 0.45px;
    color: #202020;
    margin-left: 5%;
    padding: 2% 0 5% 0;
}

.wrap-content .logo {
    margin: 10px auto;
    display: block;
    max-width: 100%;
}

#recoverform .wrap-content .logo {
    max-width: 200px;
    width: 70%;
}

.before-main-content .img_fix_bg {
    position: absolute;
    top: -20%;
    left: -131%;
    right: -54%;
    bottom: -5%;
    background-image: url(../images/vietnam-halong-bay-58597.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media screen and (min-width: 1024px) {
    .btn-login {
        font-size: 14px;
        padding: 10px 20px;
    }
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
    .wrap-login100 {
        width: 40%;
        left: 10%;
    }

    .before-main-content {
        height: 80%;
        width: 48%;
        right: 8%;
    }

    .before-main-content .img_fix_bg {
        right: -16.67%;
        left: -91.67%;
    }

    .before-main-content p, .before-main-content h3 {
        font-size: 70px;
    }

    .before-main-content h3 {
        left: 15%;
    }

    .before-main-content p {
        top: 44%;
        -webkit-text-fill-color: #1d151500;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #FFFFFF;
    }

    .wrap-login100, .title-login, .wrap-forgot100 span, .wrap-forgot100 a {
        font-size: 10px !important;
    }
}

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
    .wrap-login100 {
        width: 40%;
        left: 10%;
    }

    .before-main-content p, .before-main-content h3 {
        font-size: 70px;
    }

    .before-main-content h3 {
        left: 15%;
    }

    .before-main-content p {
        top: 44%;
        -webkit-text-fill-color: #1d151500;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #FFFFFF;
    }

    .wrap-login100, .title-login, .wrap-forgot100 span, .wrap-forgot100 a {
        font-size: 10px !important;
    }
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
    .wrap-login100 {
        width: 50%;
        left: 7%;
    }

    .before-main-content {
        width: 70%;
        height: 70%;
        right: 4%;
    }

    .before-main-content .img_fix_bg {
        right: -5.7%;
        left: -37.1%;
        top: -22.8%;
        bottom: -20%;
    }

    .before-main-content p, .before-main-content h3 {
        font-size: 30px;
    }

    .before-main-content h3 {
        left: 52%;
    }

    .before-main-content p {
        top: 40%;
        -webkit-text-fill-color: #1d151500;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #FFFFFF;
    }

    .wrap-login100, .title-login, .wrap-forgot100 span, .wrap-forgot100 a {
        font-size: 10px !important;
    }
}

/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
    .wrap-login100 {
        width: 50%;
        left: 7%;
    }

    .before-main-content p, .before-main-content h3 {
        font-size: 30px;
    }

    .before-main-content h3 {
        right: 30%;
    }

    .before-main-content p {
        top: 40%;
        -webkit-text-fill-color: #1d151500;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #FFFFFF;
    }

    .wrap-login100, .title-login, .wrap-forgot100 span, .wrap-forgot100 a {
        font-size: 10px !important;
    }

}

/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {

}
