{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_bgtlms/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_bgtlms/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{#incourse}}
        {{> theme_bgtlms/navbar-learning }}
    {{/incourse}}
    {{^incourse}}
        {{> theme_bgtlms/navbar }}
    {{/incourse}}

    <div id="page" class="custom-page-block{{#incourse}} container container-fluid{{/incourse}}">
        {{#editing}}
            {{{ output.full_header }}}
        {{/editing}}
        <div id="page-content" class="row pb-3">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                    {{#permission_edit}}
                        <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                            <div> {{{ output.region_main_settings_menu }}} </div>
                        </div>
                    {{/permission_edit}}
                {{/hasregionmainsettingsmenu}}
                <section id="region-main"
                         {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}} aria-label="{{#str}}content{{/str}}">

                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}

                </section>
                {{#hasblocks}}
                    <section data-region="blocks-column" class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
                        {{{ sidepreblocks }}}
                    </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
    {{#incourse}}
        {{> theme_bgtlms/nav-drawer-timeline }}
    {{/incourse}}
    {{> theme_bgtlms/footer }}
</div>

</body>
</html>
{{#js}}
    require(['theme_bgtlms/loader']);
    require(['theme_bgtlms/drawer'], function(mod) {
    mod.init();
    });
{{/js}}
<script>
    $(document).ready(function () {
        var x = document.getElementsByTagName("BODY")[0];
        var classes = x.className.toString().split(/\s+/);
        let course_id = '0';
        let context_id = '0';
        let module_id = '0';
        let category_id = '0';
        let activity_id = {{ activityid }};
        let currentUrl = window.location.href;

        //screen learning course / module view
        if (classes.includes("pagelayout-incourse")) {
            classes.forEach(function (classItem) {
                if (classItem.startsWith('course-')) {
                    course_id = classItem.substring(7, classItem.length);
                }
                if (classItem.startsWith('context-')) {
                    context_id = classItem.substring(8, classItem.length);
                }
                if (classItem.startsWith('cmid-')) {
                    module_id = classItem.substring(5, classItem.length);
                }
                if (classItem.startsWith('category-')) {
                    category_id = classItem.substring(9, classItem.length);
                }
            });

            //init screen
            $.ajax({
                url: '{{ wwwroot }}/pusher/study.php',
                data: {
                    'course_id': course_id,
                    'context_id': context_id,
                    'module_id': module_id,
                    'activity_id': activity_id,
                    'category_id': category_id,
                    'url': currentUrl,
                    'type': 'init'
                },
                type: 'POST',
                success: function (data) {
                    //console.log('init done');
                },
                error: function (e) {
                    console.log(e);
                }
            });

            //Close tab, leave page
            //https://www.geeksforgeeks.org/how-to-detect-browser-or-tab-closing-in-javascript/
            window.addEventListener('beforeunload', function (e) {
                $.ajax({
                    url: '{{ wwwroot }}/pusher/study.php',
                    data: {
                        'course_id': course_id,
                        'context_id': context_id,
                        'activity_id': activity_id,
                        'module_id': module_id,
                        'category_id': category_id,
                        'url': currentUrl,
                        'type': 'final'
                    },
                    type: 'POST',
                    success: function (data) {
                        //console.log('close done');
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
                //e.preventDefault();
                //e.returnValue = 'Are you sure you want to stop studying?';
                //return;
            });

            //Click next activity
            $("#next-activity-link").click(function () {
                $.ajax({
                    url: '{{ wwwroot }}/pusher/study.php',
                    data: {
                        'course_id': course_id,
                        'context_id': context_id,
                        'activity_id': activity_id,
                        'module_id': module_id,
                        'category_id': category_id,
                        'url': currentUrl,
                        'type': 'final'
                    },
                    type: 'POST',
                    success: function (data) {
                        //console.log('next done');
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });

            //Click prev activity
            $("#prev-activity-link").click(function () {
                $.ajax({
                    url: '{{ wwwroot }}/pusher/study.php',
                    data: {
                        'course_id': course_id,
                        'context_id': context_id,
                        'activity_id': activity_id,
                        'module_id': module_id,
                        'category_id': category_id,
                        'url': currentUrl,
                        'type': 'final'
                    },
                    type: 'POST',
                    success: function (data) {
                        //console.log('prev done');
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
        } else {
            $('#header-search-box-container').removeClass("hide");
        }
    });
</script>
