{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page navbar.
}}
<nav class="fixed-top navbar navbar-light bg-white navbar-expand moodle-has-zindex no-padding-topbar" aria-label="{{#str}}sitemenubar, admin{{/str}}">
        <div class="topbar-learning">
            <div class="col-md-2 offset-md-1 col-sm-12 col-xs-12 no-padding-topbar">
                <div class="d-inline-block mr-1">
                    <a class="btn btn-sm btn-nav-left-top" href="{{{ config.wwwroot }}}/course/view.php?id={{ courseid }}&section_no=0&source={{ courseid }}" title="Back to course detail">
                        <i class="fa fa-arrow-left"></i>
                     </a>
                </div>
                <div class="d-inline-block mr-1" data-region="drawer-toggle" >
                    <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn btn-sm btn-nav-left-top" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav" title="Table of contents">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
                </div>
                <div class="d-inline-block mr-1">
                    <a href="{{{ config.wwwroot }}}" class="btn btn-sm btn-nav-left-top" title="Homepage"><i class="fa fa-home"></i></a>
                </div>
                <div class="d-inline-block">
                    <a class="btn btn-sm btn-nav-left-top" href="{{{ config.wwwroot }}}/course/index.php" title="Course list"><i class="fa fa-university"></i></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 no-padding-topbar">
                <div class="dropdown">
                    <a class="dropdown-toggle topbar-dropdown-menu-option current-option-selected" id="topbar-dropdown" data-toggle="dropdown">
                        {{{sectionname}}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu topbar-dropdown-menu" role="menu" aria-labelledby="topbar-dropdown">
                        {{#units}}
                            {{#.}}
                                <li role="presentation">
                                    <a role="menuitem" class="topbar-dropdown-menu-option" tabindex="-1" href="{{{courseurl}}}&section_no={{{section}}}&source={{ courseid }}">{{{name}}}</a>
                                </li>
                            {{/.}}
                        {{/units}}
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" style="padding: 0 10px">
                            <a class="btn btn-md btn-navigate-topbar navigate-prev-section btn-hide" style="float: left" href="{{{courseurl}}}&section_no={{prevsectionno}}&source={{ courseid }}">PREV LESSION</a>
                            <a class="btn btn-md btn-navigate-topbar navigate-next-section btn-hide" style="float: right" href="{{{courseurl}}}&section_no={{nextsectionno}}&source={{ courseid }}">NEXT LESSON</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 no-padding-topbar">
                <ul class="nav navbar-nav ml-auto" style="float: right">
                    <!-- search_box -->
                    <div id="header-search-box-container">
                        {{{ output.search_box }}}
                    </div>
                    <!--back to cms-->
                    {{#permission_tms}}
                        <li class="nav-item align-items-center cms-link d-none d-sm-flex">
                            <a class="nav-link d-inline-block position-relative" style="max-width: 50px" href="{{ wwwtms }}" title="Back to cms">
                                <img src="{{ getPathPublic }}/images/tms-icon.png" alt="tms-link-image">
                            </a>
                        </li>
                    {{/permission_tms}}
                    <!-- navbar_plugin_output -->
                    <li class="nav-item d-flex align-items-center">
                        {{{ output.navbar_plugin_output }}}
                    </li>
                    <!-- user_menu -->
                    <li class="nav-item d-flex align-items-center">
                        {{{ output.user_menu }}}
                    </li>
                </ul>
            </div>
        </div>
</nav>

<script>
    $(document).ready(function() {
        let prevsectionno = {{ prevsectionno }};
        let nextsectionno = {{ nextsectionno }};
        if (prevsectionno !== 0) {
            $('.navigate-prev-section').removeClass('btn-hide');
        }
        if (nextsectionno !== 0) {
            $('.navigate-next-section').removeClass('btn-hide');
        }
    });
</script>
<style>
    @font-face {
        font-family: Roboto-Regular;
        src: url('{{ getPathPublic }}/fonts/Roboto-Regular.ttf');
    }

    .topbar-dropdown-menu {
        width: 100%;
    }
    .topbar-dropdown-menu-option {
        color: #212529;
        padding-left: 10px;
        line-height: 2rem;
        font-family: Roboto, sans-serif;
    }

    .current-option-selected {
        font-weight: bold;
    }

    .btn-navigate-topbar  {
        background-color: #862055;
        color: #ffffff;
    }
    .btn-navigate-topbar:hover {
        color: #ffffff;
    }

    .btn-hide {
        display: none;
    }
    /* display header h2 for  module content, now display none*/
    span#maincontent + h2 {
        display: block;
    }
    .icon {
        height: 15px;
    }
    .no-padding-topbar {
        padding-left: 0;
        padding-right: 0;
    }
    .topbar-learning {
        display: contents;
    }
    .navbar-expand {
        flex-flow: wrap;
    }
    @media (max-width: 480px) {
        .navbar .popover-region .popover-region-container {
            top: 105px;
        }
    }
</style>
