{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page navbar.
}}
<nav class="fixed-top navbar navbar-light bg-white navbar-expand moodle-has-zindex"
     aria-label="{{#str}}sitemenubar, admin{{/str}}">

    <div class="container">
        <!--            logo-->
<!--        <div class="logo">-->
<!--            <a href="{{ config.wwwroot }}/my/index.php"><img src="{{ getPathPublic }}{{ pathLogo }}" alt=""></a>-->
<!--        </div>-->
        <!-- search_box -->
        <div id="header-search-box-container">
            <div class="search-input-wrapper nav-link" id="5f3e4adb237fb">
                <div class="searchDiv">
                    <form class="search-input-form"
                          action="/lms/search/index.php">
                        <div class="div-search">
                            <label
                                    for="id_q_5f3e4adb237fb" class="accesshide">Enter your search query</label>
                            <input
                                    type="text" name="q" placeholder="Search" size="13" tabindex="-1" id="id_q_5f3e4adb237fb"
                                    class="form-control searchInput">
                        </div>
                        <a class="searchA ml-1" onclick="$(this).closest('form').submit();"><i class="icon fa fa-search searchIcon fa-fw " title="Search"
                                                      aria-label="Search"></i></a>
                    </form>
                </div>

            </div>
        </div>
        <div class="click-page">
            <ul class="nav navbar-nav ml-auto">
                <li class="{{top_bar_home}}"><a href="{{ config.wwwroot }}/my/index.php"><i
                        class="fa fa-university"></i> Home</a></li>
                <li class="{{top_bar_course}}"><a href="{{ config.wwwroot }}/course/index.php"><i
                        class="fa fa-graduation-cap "></i> Courses</a></li>
            </ul>
        </div>

        <ul class="nav navbar-nav">
            <li class="nav-item align-items-center cms-link d-none d-sm-flex">
                <a class="nav-link d-inline-block position-relative" style="max-width: 50px"
                   href="{{ config.wwwroot }}/my/guideline.php" title="Instruction">
                    <i class="fa fa-info-circle"></i>
                </a>
            </li>
            <!--back to cms-->
            {{#permission_tms}}
                <li class="nav-item align-items-center cms-link d-none d-sm-flex">
                    <a class="nav-link d-inline-block position-relative" style="max-width: 50px" href="{{ wwwtms }}"
                       title="Training management system">
                        <img src="{{ getPathPublic }}/images/tms-icon.png" alt="tms-link-image">
                    </a>
                </li>
            {{/permission_tms}}
            {{#permission_editor}}
                <li class="nav-item align-items-center cms-link d-none d-sm-flex">
                    <a class="nav-link d-inline-block position-relative" target="_blank" style="max-width: 50px"
                       href="{{ config.wwwroot }}/videolib.php" title="Video Upload">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                </li>
            {{/permission_editor}}
            <!-- navbar_plugin_output -->
            <li class="nav-item d-flex align-items-center">
                {{{ output.navbar_plugin_output }}}
            </li>
            <!-- user_menu -->
            <li class="nav-item d-flex align-items-center user_menu ">
                {{{ output.user_menu }}}
            </li>
        </ul>

    </div>

</nav>

<script>
    $(document).ready(function () {
        $('.userbutton').click(function () {
            $('#action-menu-1-menu').toggleClass('show');
        });
    });
</script>
<style>
    @font-face {
        font-family: Roboto-Regular;
        src: url({{ getPathPublic }});
    }

    .dropdown-divider {
        margin: 0 !important;
    }

    .dropdown-item {
        line-height: initial;
    }

    .click-page {
        margin: auto;
    }

    .action-menu .dropdown-toggle {
        line-height: 37px;
    }

    nav.navbar .logo img {
        width: auto;
    }

    .search-input-wrapper:hover .div-search{
        display: block;
    }

    /**/

    .searchIcon:hover{
        cursor: pointer;
    }

    .btnSearch:hover+.search-input-form{
        display: none;
    }

    #header-search-box-container{
        /*width: 150px !important;*/
    }

    .search-input-wrapper {
        /* width: 100% !important; */
        padding-left: 0 !important;
        display: inline-flex;
    }

    #header-search-box-container .search-input-form {
        /* margin-left: 2% !important; */
        min-width: 35%;
        /* max-width: 80%; */
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
        display: flex;
    }

    .search-input-wrapper > div {
        /* position: relative; */
        /* width: 100%; */
        position: inherit;
        width: auto;
    }

    .search-input-wrapper > div .icon {
        /* position: absolute; */
        position: inherit;
        top: 0;
        right: 1%;
        color: #737373 !important;
    }

    .div-search{
        display: none;
    }


    /**/

    /*Ipad dọc(768 x 1024)*/
    @media screen and (max-width: 768px) {
        .click-page {
            margin-left: 7% !important;
        }

        .logo {
            display: none;
        }

        .search-input-wrapper>form>input{
            display: none;
        }
    }

    /*Tablet nhỏ(480 x 640)*/
    @media screen and (max-width: 480px) {
        .search-input-wrapper > div .icon {
            position: inherit !important;
        }

        .click-page {
            width: 130px;
        }

        .click-page ul li i {
            display: none;
        }

        .logo, .search-input-form {
            display: none;
        }

        .dropdown .dropdown-menu {
            margin-top: 100%;
        }
    }

    /*Iphone(480 x 640)*/
    @media screen and (max-width: 320px) {
        .click-page {
            margin-left: 5% !important;
        }

        .dropdown .dropdown-menu {
            margin-top: 100%;
        }
    }
</style>
