@charset "utf-8";
/* CSS Document */

h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}

.ss-content-pad-60 {
	padding: 60px 0;
}

.ss-content {
	padding: 60px 0;
}

.bg-gray {
	background: #f2f2f2;
}

.ss-tit-h3 {
	color: #252525;
	margin-bottom: 30px;
	font-weight: bold;
}
.ss-tit-line-h4 {
	color: #363636;
	padding: 0 0 15px 0;
	border-bottom: 2px solid #ebebeb;
	font-weight: 500;
	position: relative;
	margin-bottom: 15px;
}
	.ss-tit-line-h4:after {
		content: "";
		display: block;
		width: 30px;
		height: 2px;
		background: #fb892a;
		position: absolute;
		bottom: -2px;
		left: 0;
	}

.ss-tit-h5 {
	color: #252525;
	margin-bottom: 30px;
	font-weight: 500;
}

.bg-fb {
	background: #3b5989;
}
	.bg-fb:hover {
		background: #243c69;
	}
.bg-gg {
	background: #d50f25;
}
	.bg-gg:hover {
		background: #c81e2a;
	}
.bg-tt {
	background: #00aced;
}
	.bg-tt:hover {
	background: #0090e4;
}

.ss-tit-blue-center {
	display: block;
	font-size: 46px;
	font-weight: 300;
	color: #3f5ca9;
	position: relative;
	margin-bottom: 60px;
	text-align: center;
	padding-bottom: 15px;
}
	.ss-tit-blue-center:after {
		content: "";
		display: block;
		width: 50px;
		height: 4px;
		background: #3f5ca9;
		position: absolute;
		left: 50%;
		bottom: -4px;
		transform: translateX(-50%);
	}

.ss-tit-white-center {
	display: block;
	font-size: 46px;
	font-weight: 300;
	color: #fafafa;
	position: relative;
	margin-bottom: 60px;
	text-align: center;
	padding-bottom: 15px;
}
	.ss-tit-white-center:after {
		content: "";
		display: block;
		width: 50px;
		height: 4px;
		background: #fafafa;
		position: absolute;
		left: 50%;
		bottom: -4px;
		transform: translateX(-50%);
	}

.ss-tit-blue-left {
	display: block;
	font-size: 46px;
	font-weight: 300;
	color: #3f5ca9;
	position: relative;
	margin-bottom: 60px;
	padding-bottom: 15px;
}
	.ss-tit-blue-left:after {
		content: "";
		display: block;
		width: 50px;
		height: 4px;
		background: #3f5ca9;
		position: absolute;
		left: 0;
		bottom: -4px;
	}
/* Style button */
.ss-btn-stroke-white {
	border: 1px solid #fafafa;
	color: #fafafa;
	font-weight: 500;
}
	.ss-btn-stroke-white:hover {
		background: #fafafa;
		color: #fb892a;
	}

.ss-btn-flat-white {
	display: inline-block;
	background: #fafafa;
	color: #3f5ca9;
	border: 1px solid #fafafa;
	font-weight: 500;
}
	.ss-btn-flat-white:hover {
		background: #3f5ca9;
		border: 1px solid #3f5ca9;
		color: #fafafa;
	}

.ss-btn-stroke-orange {
	display: inline-block;
	min-width: 96px;
	text-align: center;
	padding: 0 15px;
	height: 36px;
	line-height: 34px;
	color: #fb892a;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	border: 1px solid #fb892a;
	transition: all .15s ease;
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	border-radius: 2px;
}
	.ss-btn-stroke-orange:hover {
		background: #fb892a;
		color: #fafafa;
	}
	.ss-btn-stroke-orange i {
		vertical-align: middle;
		margin-right: 10px;
	}


.ss-btn-flat-gra-orange {
	display: inline-block;
	min-width: 96px;
	padding: 0 15px;
	height: 36px;
	line-height: 34px;
	color: #fafafa;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 2px;
	text-align: center;
	position: relative;
	border: 1px solid;
	border-color: rgba(255,255,255,0);
	transition: all .15s ease;
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	z-index: 1;
}
	.ss-btn-flat-gra-orange::after {
		content: "";
		display: block;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		position: absolute;
		top: -1px;
		left: -1px;
		background: #fb892a;
		background: linear-gradient(to right, #fb892a, #f96d1a);
		z-index: -2;
		border-radius: 2px;
	}
	.ss-btn-flat-gra-orange:hover:after {
		background: transparent;
	}
	.ss-btn-flat-gra-orange:hover {
		border: 1px solid #fb892a;
		color: #fb892a;
	}
	.ss-btn-flat-gra-orange i {
		vertical-align: middle;
		margin-right: 10px;
	}

.ss-btn-flat-gra-blue {
	display: inline-block;
	min-width: 96px;
	padding: 0 15px;
	height: 36px;
	line-height: 36px;
	color: #fafafa;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 2px;
	text-align: center;
	position: relative;
	border: 1px solid transparent;
	z-index: 1;
	overflow: hidden;
	transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
}
	.ss-btn-flat-gra-blue::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #3c9dc6;
		background: linear-gradient(to right, #3c9dc6, #5b6396);
		z-index: -2;
		border-radius: 2px;
	}
	.ss-btn-flat-gra-blue:hover:after {
		background: transparent;
	}
	.ss-btn-flat-gra-blue:hover {
		border: 1px solid #3c9dc6;
		color: #3c9dc6;
	}

.btn-h-60 {
	height: 60px;
	line-height: 60px;
	font-size: 16px;
}
	.btn-h-60 i {
		margin-top: -4px;
		font-size: 36px;
	}
.btn-48 {
	display: inline-block;
	height: 48px;
	line-height: 46px;
	font-size: 16px;
	padding: 0 30px;
	transition: all 0.15s ease;
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	border-radius: 2px;
	text-transform: uppercase;
}

/* CSS Checkbox */
	.ss-input-checkbox {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		top: 6px;
		right: -3px;
		height: 24px;
		width: 100%;
		z-index: 2;
	}
	.ss-checkmark {
		position: absolute;
		top: 9px;
		right: 0;
		width: 18px;
		height: 18px;
		background: #fff;
		border: 2px solid #a0a0a0;
		border-radius: 2px;
		cursor: pointer;
		z-index: 1;
	}
	.ss-input-checkbox:checked ~ .ss-checkmark {
		background: #3f5ca9;
		border: 2px solid #3f5ca9;
	}
	.ss-checkmark:after {
		content: "";
		display: none;
		position: absolute;
		top: 0;
		right: 4px;
		width: 6px;
		height: 12px;
		border: solid #fafafa;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.ss-input-checkbox:checked ~ .ss-checkmark:after {
		display: block;
	}
.ss-input-checkbox:checked ~ .ss-cate-check {
	font-weight: 700;
}

/* fixed top*/
.top-detail-fixed {
	margin-bottom: 120px;
}
.top-menu-fixed {
	position: fixed;
	top: 0;
	left: 0;
}
	.top-menu-fixed .row {
		transition: all 0.15s ease-in-out;
		-webkit-transition: all .15s ease-in-out;
		-moz-transition: all 0.15s ease-in-out;
		height: 48px;
	}
	.top-menu-fixed ul.ss-top-nav>li.nav-item>a.nav-link {
		height: 48px;
		line-height: 48px;
	}
	.top-menu-fixed .ss-detail-top-logo img {
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		width: 75%;
	}

.top-search-fixed {
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 0;
	box-shadow: 0 2px 10px rgba(0,0,0,0.36);
	transition: padding 0.3s ease-in-out;
	-webkit-transition: padding 0.3s ease-in-out;
	-moz-transition: padding 0.3s ease-in-out;
	background: #343640;
}
	.top-search-fixed .ss-detail-top-search-input input {
		height: 36px;
		border: none;
	}
	.top-search-fixed .ss-detail-top-search-input {
		height: 36px;
	}
	.top-search-fixed .ss-detail-top-search-btn a {
		height: 36px;
		line-height: 36px;
	}
	.top-search-fixed .ss-detail-top-search-btn a i, .top-search-fixed .ss-detail-top-search-input i {
		width: 36px;
		height: 36px;
		line-height: 36px;
	}

/* Component responsive */
/* Css for mobile */
@media (max-width: 576px) {
	h1 {
	font-size: 36px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 14px;
	}
	.ss-tit-line-h4 {
		padding-bottom: 5px;
	}
	.ss-content {
		padding: 30px 0;
	}
	.ss-tit-blue-center, .ss-tit-blue-left, .ss-tit-white-center {
		font-size: 30px;
	}
	.ss-tit-blue-center:after, .ss-tit-blue-left:after, .ss-tit-white-center:after {
		height: 2px;
	}
}
/* CSS for Tablet */
@media (min-width: 768px) and (max-width: 992px) {
	h1 {
	font-size: 36px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 14px;
	}
	.ss-content {
		padding: 30px 0;
	}
	.ss-tit-h3 {
		margin-bottom: 15px;
	}
	.ss-tit-line-h4 {
		padding-bottom: 5px;
	}
	.ss-content {
		padding: 30px 0;
	}
	.ss-tit-blue-center, .ss-tit-blue-left, .ss-tit-white-center {
		font-size: 30px;
		margin-bottom:  30px;
	}
	.ss-tit-blue-center:after, .ss-tit-blue-left:after, .ss-tit-white-center:after {
		height: 2px;
	}
}